body{
	/*background-image: url("fondo2.jpg");*/
	font-size: 16px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

/**{
	border: solid 1px;
}*/

.navbar-default {
    background-color: #fff;
     border-color: #fff;
}

.submenu-title{
	background-color: #510808;
	color: #fff;padding: 8px 16px;
	font-weight: bold;
	font-size: 20px;
}

.submenu-active{
	background-color: #eaeaea;
}

#top{
	position: sticky;
	top: 0;
	background-color:  rgba(255, 255, 255, 0.9);
	z-index: 5;
	/*pacity: 0.7;*/
	/*height: 100px;*/
}

#menu{
	position:relative;
	top:25px;

}

ul[class="nav navbar-nav"] li span{
	margin-right: 10px;
}

div[class="navbar-header"] span{
	margin-right: 10px;
}
div#fotosSlide{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%
}

#frase{
	font-family: 'Pacifico', cursive;
	font-size:22px;
	margin-top: 16px;
}

.grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
	"section1 section1"
	"section2 section2"
	"section3 section3"
	"section4 section4";

	grid-gap: 10px;
}

.section1{
	grid-area: section1;
}

.section2{
	grid-area: section2;
}

.section3{
	grid-area: section3;
}

.section4{
	grid-area:section4;
}

#promo{
	float: left;
	margin-right: 30px;
	width: 30%
}

.iconFooter{
	max-width: 40px;
	border-radius: 50%;
	margin: 5% 0;
}

.redes{
	max-width: 30px;
}

.footer{
	background-color: #893101;
	background-image: -webkit-linear-gradient(left,#510808,#8a878a);
}

.footer ul li{
	text-indent: none;
	list-style: none;
	text-align: left;
	color: #fff;
	font-size: 11px;
	font-size: 16px;
	line-height: 2rem;
	font-family: "sans-serif" ;
	text-align:center; /* center horizontally */
	vertical-align:middle; /* center vertically */

}

.navbar-serv{
	list-style: none;
	margin-left: 10%;
	padding: 0;
	background-color: #f8f8f8;
	width: 85%;

}

.navbar-serv li a{
	display: block;
	color: #777;
	padding: 8px 16px;
	text-decoration: none;

}

.navbar-serv li a:hover{
	color: #000;
}

.list-content{
	list-style: none;
}

.list-content li{
	margin:0;
}

.list-content li h3{
	font-weight: bold;
	color: #843e3e;
}

.list-content li p{
	text-align: justify;
	padding-right: 60px;
}

.headerText{
    font-family: "Comic Sans";
    font-size: 2.5em;
    color: #510808;
    border-bottom: 2px solid #788778;
    padding-bottom: 5px;
    width: 95%;
    padding-left: 10px;
}

.img-serv{
	width: 100%;
}

.nosotros h3{
	text-align: center;
	border-bottom: solid 2px #000;
	font-weight: bold;
	margin-bottom: 15px;
}

#historia{
	text-align: center;
	font-weight: bold;
}

.nosotros p{
	text-align: justify;
	margin-left: auto;
	margin-right: auto;

}

/*.info{
	margin-top: 25px;
}*/
.info .col-md-4 {
  text-align: center;
}

.info .col-md-4:hover {
  text-align: center;
  background-color: #e2e2e2;
}

.info h2 {
  font-weight: normal;
}
.info .col-md-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.img-circle{
    border-radius:50%;
}

.block-title{
	border-bottom: 2px solid #788778;
	color: #788778;
	margin-bottom: 25px;
}

.sub-title{
	color: #788778;
	margin-bottom: 15px;
}

.marketing img{
	opacity: 0.8;
}

.footer{
	clear: both;
	width: 100%;
}
.info{
	background-color: #f8f8f8;
}

.gallery-box{
	margin: 20px;
	width: 100%;
}
div.gallery-item {
	border: 1px solid #ccc;
	transition:all 0.3s ease;
	margin:25px;
}

div.gallery-item:hover {
    border: 1px solid #777;
    -webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

div.gallery-item img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 5px;
    text-align: center;
    background-color: #fff;
}

* {
    box-sizing: border-box;
}

.responsive {
    /*padding: 0 6px;*/
    float: left;
    width: 30%;
}

@media screen and (max-width: 800px){
	.grid{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: "section1 section2"
													"section3 section4";
	}

	div[class="col-md-10"] nav li{
		border-bottom: 1px solid #d8d8d8;
	}

	.menu_bar{
		display: block;
		width: 100%;
		background: #f8f8f8;
	}

	.menu_bar .btn-menu{
		display: block;
		padding: 20px;
		background: #e7e7e7;
		color:#777;
		text-decoration: none;
		font-weight: bold;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	.menu_bar span{
		float:right;
	}

	#menu{
		top:0px;

	}

	#top{
		position: relative;
	}

	.navbar-serv {
		display: none;
	}

	#frase{
		float: right;
		text-align: center;
	}

	br{
		display: none;
	}

	.responsive {
		        width: 49.99999%;
		        margin: 6px 0;
	}

	#frase{
		float: right;
		width: 70%;
		text-align: center;
	}

	div[class^="ih-item"]{
		width:30%;
	}

}

@media only screen and (max-width: 500px){
		    .responsive {
		        width: 50%;
		    }
}

@media only screen and (min-width: 1000px){
		    #logoyf{
					margin-left: 8%;
				}
}

/*
@media screen and (max-width: 800px){

	#frase{
		float: right;
		width: 70%;
		text-align: center;
	}
}
*/
