<!doctype html>
<html>
<head>
    <% include ./parciales/head %>
</head>
<body>

  <header>
      <% include ./parciales/header %>
  </header>

    <div class="row">

        <div class="jumbotron text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>

        <div class="row">

          <% if(user.local.role === 'Administrador'){%>
          <div class="col-md-3">
            <ul class="navbar-serv">
              <li class="submenu-title">Opciones</li>
              <li class="submenu-active"><a href="/admin"> Perfil</a></li>
              <li><a href="/grafica"> Informacion </a></li>
              <li><a href="/servicios"> Servicios </a></li>
              <li><a href="/empleados"> Empleados </a></li>
              <li><a href="/cuentas"> Cuentas </a></li>
            </ul>
          </div>
          <%}else if(user.local.role === 'Moderador'){%>
            <div class="col-md-3">
              <ul class="navbar-serv">
                <li class="submenu-title">Opciones</li>
                <li class="submenu-active"><a href="/admin"> Perfil</a></li>
                <li><a href="/citas"> Citas </a></li>
                <li><a href="/calendarioCitas"> Calendario </a></li>
              </ul>
            </div>
          <%}%>


            <!-- LOCAL INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="fa fa-user"></span> Local</h3>

                        <p>
                            <strong>id</strong>: <%= user._id %><br>
                            <strong>email</strong>: <%= user.local.email %><br>
                            <strong>password</strong>: <%= user.local.password %>
                        </p>

                </div>
            </div>

        </div>
    </div>

    <footer>
        <% include ./parciales/footer %>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/login.js"></script>

</body>
</html>
