<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable:no, initial-scale=1.0, minimun-scale=1.0">
  <title>DivaPeluquería</title>
  <link rel="stylesheet" type="text/css" href="../css/login.css">
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/ihover.css">
  <link rel="stylesheet" type="text/css" href="../css/extra.css">
  <link rel="stylesheet" href="../src/icomoon/style.css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link rel="icon" type="image/png" href="../img/logo.png"/>

  <script src="../js/jquery.min.js"></script>

</head>
<body>
    <header>
      <% include ./parciales/header %>
    </header>

    <div class="row">

    <div class="col-md-3">
        <ul class="navbar-serv">
          <li class="submenu-title">Opciones</li>
          <li><a href="/profile"> Perfil</a></li>
          <li><a href="/reservaciones"> Reservaciones</a></li>
          <li class="submenu-active"><a href="/crearReserva"> Crear Reservacion </a></li>
          <li><a href="/datos">Datos de la Cuenta </a></li>
        </ul>
      </div>

            <!-- LOCAL INFORMATION -->
      <div class="col-md-6">

                <h2 class="headerText"> Crear Reservacion</h2>
      <form role="form" id="Reserva" action="/reservaciones/actualizar/<%= cita.idcita%>"  method="POST">
        	<div class="form-group">
            	<label class="control-label" for="nombre">Nombres</label>
            	<input type="text" class="form-control" id="Nombre" name="nombre" placeholder="Introduzca su nombre" value="<%= cita.nombreCliente%>" required autofocus />
        	</div>
          <div class="form-group">
            	<label class="control-label" for="cedula">Cedula</label>
            	<input type="text" class="form-control" id="cedula" name="cedula" placeholder="Introduzca su numero de cedula" value="<%= cita.cedulaCliente%>" required autofocus />
        	</div>

          <div class="form-group">
            	<label class="control-label" for="descripcion">Descripcion</label>
            	<select name="descripcion" class="form-control">
                	<option value="1" selected="selected">Peluquería</option>
                	<option value="2">Masajes</option>
                  <option value="3">Faciales</option>
                  <option value="4">Manicure</option>
                  <option value="5">Pedicure</option>
                  <option value="6">Para Hombres</option>
            	</select>
        	</div>

          <div class="form-group">
            	<label class="control-label" for="empleado">Empleado</label>
            	<select name="empleado" class="form-control">

            	</select>
        	</div>

          <div class="form-group">
            	<label class="control-label" for="servicios">Servicios</label>
            	<select name="servicios" class="form-control">

            	</select>
        	</div>

          <div class="form-row">
          	<div class="form-group col-md-6">
              	<label class="control-label" for="fecha">Fecha</label>
                <input id="date" type="date" name="fecha">
          	</div>
            <div class="form-group col-md-6">
              	<label class="control-label" for="hora">Hora</label>
                <input id="time" type="time" name="hora">
          	</div>
          </div>
          <div class="form-row">
              <div class="form-group col-md-4">
            	   <label class="control-label" for="total">Total</label>
                 <div class="input-group">
                   <span class="input-group-addon">$</span>
                   <input type="text" value="<%= cita.total%>" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" name="total">
                 </div>
              </div>
          </div>
        	<div class="form-group col-md-12">
            	<input type="submit" class="btn btn-primary" value="Guardar">
            	<input type="reset" class="btn btn-default" value="Limpiar">
        	   </div>
    	   </form>
      </div>
    </div>

    <footer>
      <% include ./parciales/footer %>
    </footer>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/crearReserva.js"></script>
</body>
</html>
