<!DOCTYPE html>
<html>
<head>
  <% include ./parciales/head %>

  <link rel="icon" type="image/png" href="../img/logo.png"/><link href='../fullcalendar/fullcalendar.min.css' rel='stylesheet' />
  <link rel="stylesheet" type="text/css" href="../css/dataTables.bootstrap.min.css">

</head>
  <body>

    <header>
        <% include ./parciales/header %>
    </header>

        <div class="row">
          <div class="col-md-3">
            <ul class="navbar-serv">
              <li class="submenu-title">Opciones</li>
              <li ><a href="/admin"> Perfil</a></li>
              <li class="submenu-active"><a href="/citas"> Citas</a></li>
              <li><a href="/calendarioCitas"> Calendario </a></li>
            </ul>
          </div>

          <div class="col-md-9">
            <div id='reservaciones'>
                <h2 class="headerText">Reservaciones Efectuadas</h2>

                <form method="post" action="/buscarReservas">
                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <label for="anio"> Año </label>
                      <select name="anio" class="form-control">
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="mes"> Mes </label>
                      <select name="mes" class="form-control">
                          <option value="00">Todos</option>
                          <option value="01">Enero</option>
                          <option value="02">Febrero</option>
                          <option value="03">Marzo</option>
                          <option value="04">Abril</option>
                          <option value="05">Mayo</option>
                          <option value="06">Junio</option>
                          <option value="07">Julio</option>
                          <option value="08">Agosto</option>
                          <option value="09">Septiembre</option>
                          <option value="10">Octubre</option>
                          <option value="11">Noviembre</option>
                          <option value="12">Diciembre</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="anio"> Día </label>
                      <select name="dia" class="form-control">
                        <option value="00">Todos</option>
                        <% dias.forEach(function(item){%>
                          <option value="<%= item%>"><%= item %></option>
                        <%});%>
                      </select>
                    </div>
                    <div class="form-group col-md-2">
                      <label class="control-label" for=""> </label>
                      <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                  </div>
                </form>

                  <table class="table table-hover table-striped" id="tablaReservaciones">
                      <caption>Lista de reservas de <%= fecha.mes%> del <%= fecha.anio%></caption>
                      <thead class="thead-light">
                          <tr>
                              <th> Hora</th>
                              <th> Tipo</th>
                              <th> Servicio</th>
                              <th> Cedula Cliente</th>
                              <th> Nombre Cliente</th>
                              <th> Estado</th>
                              <th> Acciones</th>
                          </tr>
                      </thead>
                      <tbody id="cuerpoReservas">

                      </tbody>
                      <tfoot>
                        <tr>
                          <th> Hora</th>
                          <th> Tipo</th>
                          <th> Servicio</th>
                          <th> Cedula Cliente</th>
                          <th> Nombre Cliente</th>
                          <th> Estado</th>
                          <th> Acciones</th>
                        </tr>
                      </tfoot>
                  </table>
          </div>
          </div>
        </div>

        <footer>
            <% include ./parciales/footer %>
        </footer>
          <script src="../js/jquery.js"></script>
          <script src="../js/jquery.dataTables.js"></script>
          <script src="../js/dataTables.bootstrap.min.js"></script>
          <script src="../js/bootstrap.min.js"></script>
          <script src="../js/reservacionesEmpl.js"></script>
      </body>
</html>
