html, body {
    height: 100%;
    width: 100%;
    font-family: 'Fira Sans', sans-serif;
}

#home{
    height: 100%;
}


#leftside{
    background-color: black;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    -ms-transition: 1s ease;
}

#rightside{
    background-color: white;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    float: right;
}


#circle {
    width: 50%;
    height: 100%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    position: absolute;
    -webkit-transition: .5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
  }

  #circle.show{
    width: 200px;
    height: 200px;
    border-radius: 100px;
 }


  #circle2 {
    width: 50%;
    height: 100%;
    background: black;
    right: 0;
    z-index: 1;
    position: absolute;
    -webkit-transition: .5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
  }

  #circle2.show{
    width: 100px;
    height: 200px;
    -webkit-border-radius:  100px 0 0 100px;
    -moz-border-radius:  100px 0 0 100px;
    border-radius: 100px 0 0 100px; }

.nav-link{
    color: #000;
    font-size: 1.5em;
}

.nav-link:hover #leftside{
    transform: scale(1.5);
}

.work-link{
    color: #000;
    font-style: normal;
    text-decoration: none;
}

.work-link:hover {
    text-decoration: underline;
    color: #000;
}


#description{
    color: white;
    z-index: 2;
    position: absolute;
    bottom: 50px;
}

#navbar{
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    z-index: 2;
    text-align: right;
    float: right;
    position: absolute;
    right: 20px;
    top: 0px;
}

#brandhome{
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 1.5em;
    
}

#listworks{
    list-style-type:none;
    padding-left: 100px;
}

#listworks li{
    padding-top: 5px;
}

#listworks p{
    font-size: 40px;
}  

.contactescription{
    padding-top: 10%;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 5%;
}

 .contactescription #title{
    font: 5em sans-serif;
    color: dimgray;
 }

 .contactescription #mail{
    font: 2em sans-serif;
    color: black;
 }

 .itemsfind a{
    color: rgb(156, 156, 156);
    text-decoration: none;
    font: 0.7em sans-serif;
 }


.itemsfindk a:hover {
    text-decoration: underline;
}