<div class="footer">

    <div class="row">
        <div class="col-md-12">
            <ul>
                <li><h2>DivaPeluquería</h2></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul>
                <li><h3>Redes Sociales</h3></li>
                <li>
                    <a href="https://facebook.com"><img class="redes" alt="" src="../img/facebook.png"></a>
                    <a href="https://twitter.com"><img class="redes" alt="" src="../img/twitter.png"></a>
                    <a href="https://instagram.com"><img class="redes" alt="" src="../img/instagram.png"></a>
                </li>
            </ul>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-4">
            <ul>
                <li><img class="iconFooter" src="../img/phone.png" alt="">
                <li>(04) 2338579</li>
                <li>(593) 9082479989</li>
            </ul>
        </div>

        <div class="col-md-4">
            <ul>
                <li><img class="iconFooter" src="../img/gps.png" alt="">
                <li>Guayaquil- Ecuador</li>
                <li>Avenida Quito y El Oro</li>
            </ul>
        </div>

        <div class="col-md-4">
            <ul>
                <li><img class="iconFooter" src="../img/email.png" alt="">
                <li>nobodyPeluqueria6@gmail.com</li>
                <li>(593) 9082479989</li>
            </ul>
        </div>
    </div>

    <br>
</div>
