<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable:no, initial-scale=1.0, minimun-scale=1.0">
<title>DivaPeluquería</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/ihover.css">
<link rel="stylesheet" type="text/css" href="../css/extra.css">
<link rel="stylesheet" href="../src/icomoon/style.css">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link rel="icon" type="image/png" href="../img/logo.png"/>
